/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tangsa:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* reusable component */
body{
    font-family: 'Roboto', sans-serif;
    background-color:#f3f1ff;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px 40px;
}
hr{
    border: 1px solid #D1D1D1;
}
/* top player css start */
.top_players{
    margin-bottom: 30px;
}
.section_title{
    margin-bottom: 30px;
    font-size: 24px;
    color: #562EFF;
}
.players{
    grid-row-gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player{
    /* margin: 20px 0; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player_name{
    margin-left: 16px;
    font-size: 18px;
    color: #000000;
}

/* top player css end */
/* top blogs css start */
.blog{
    display: flex;
    align-items: center;
    gap: 16px;
}
.blog_title{
    font-size: 20px;
    color: #000000;
}
.blog .thumbnall img{
    width: 177px;
height: 117px;
}
/* top blogs css end */